<!DOCTYPE html>
<html>
<head>
    <title>Layout 001</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    
<div class="container">
    <header>
        My Website
    </header>

    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Links</a>
        <a href="#">Etc.</a>
    </nav>

    <div class="content">

        <!-- left sidebar -->
        <aside>
            <h3>Forever</h3>
            <p>The last question was asked for the first time, half in jest, on May 21, 2061, at a time when humanity first stepped into the light.</p>

            <h3>Someday</h3>
            <p>Then you know everything's got to run down someday.</p>
            
            <h4>Updates</h4>
            <a href="#">Link</a><br>
            <a href="#">Link</a><br>
            <a href="#">Link</a><br>
            <a href="#">Link</a><br>
        </aside>

        <!-- right main content area -->
        <main>
            <h1>The Last Question</h1>
            <p>Will mankind one day without the net expenditure of energy be able to restore the sun to its full youthfulness even after it had died of old age? Or maybe it could be put more simply like this: How can the net amount of entropy of the universe be massively decreased?</p>
            
            <h2>I know all about entropy</h2>
            <p>Multivac fell dead and silent. The slow flashing of lights ceased, the distant sounds of clicking relays ended.</p>

            <p>Then, just as the <b>frightened</b> technicians felt they could hold their breath <i>no longer</i>, there was a <u>sudden</u> springing to life of the <mark>teletype</mark> attached to that portion of <a href="#">Multivac</a>. Five words were printed:</p>
            
            <ul>
                <li>INSUFFICIENT</li>
                <li>DATA</li>
                <li>FOR</li>
                <li>MEANINGFUL</li>
                <li>ANSWER</li>
            </ul>
            
            <p><center><a href="https://users.ece.cmu.edu/~gamvrosi/thelastq.html">The Last Question by Isaac Asimov</a></center></p>
        </main>
    </div> <!-- .content -->
</div> <!-- #container -->

</body>
</html>


